.App {
  text-align: center;
}

p {
  color: white;
  text-align: center;
  line-height: 200px;
}

.eightball {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-left: 30px;
  margin-top: 30px;
}


#black {
  background-color: black;
}

#green {
  background-color: green;
}

#goldenrod {
  background-color: goldenrod;
}

#red {
  background-color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
